.aside-container {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--aside-bg-color);
  color: var(--text-color);
  overflow: auto;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: calc(100% - 40px);
}

.logo {
  display: flex;
  align-items: start;
}

.logo img {
  width: 60px;
  margin-left: 20px;
}

.avatar img {
  background: none;
  border-radius: 50%;
  width: 7rem;
}

.profile-name {
  top: -15px;
  position: relative;
}

.profile-name_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.profile-desc_text {
  color: rgb(222, 222, 222);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  margin-bottom: 10px;
}

.profile-line {
  width: 260px;
  height: 0;
  border: 1px solid rgb(28, 28, 28);
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-button {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.about-button>button {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 25px;
  color: var(--text-color);
}

.myWork_btn {
  box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
  background: rgb(237, 48, 36);
}

.sendMe_btn {
  box-shadow: 0px 7px 17px -10px rgba(32, 84, 219, 0.35);
  background: rgb(49, 55, 201);
}


@media screen and (max-width: 768px) {
  .aside-container {
    width: 21%;
  }

  .profile {
    top: -70px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 40px);
  }

  .logo img {
    width: 100%;
  }

  .avatar img {
    width: 70px;
  }

  .profile-name {
    top: -2.3rem;
    position: relative;
  }

  .profile-name_text {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
  }

  .profile-desc_text {
    color: rgb(222, 222, 222);
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
  }

  .profile-social {
    margin-top: 17px;
  }

  .profile-line {
    width: 260px;
    height: 0;
    border: 1px solid rgb(28, 28, 28);
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .description-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
  }

  .about-button {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .about-button>button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 25px;
    color: var(--text-color);
  }

  .myWork_btn {
    box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
    background: rgb(237, 48, 36);
  }

  .sendMe_btn {
    box-shadow: 0px 7px 17px -10px rgba(32, 84, 219, 0.35);
    background: rgb(49, 55, 201);
  }
}